header {
  width: 60%;
}

nav ul {
  flex-direction: row;
}

nav ul li {
  flex-grow: 1;
}

nav li a {
  font-size: 10pt;
}

main {
  width: 60%;
  padding: 1em;
  border-radius: 1em;
}

#wrapper {
  padding: 1em;
}

.music-list a {
  width: 15em;
}

.band-list a {
  width: 15em;
  margin: 0.2em;
}

article time {
  padding-top: 3em;
  margin-right: 2em;
}

.article-body {
  flex-grow: 1;
}

.article-body p {
  width: 40vw;
}

.article-body p img {
  max-width: 60%;
}

.profile-links {
  justify-content: center;
}

#logo {
  margin: auto;
  width: 615px;
}

.photo {
  max-width: 30%;
}

.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}

.main-photo {
  max-width: 90%;
  margin: auto;
  display: block;
  margin-bottom: 1em;
}

.band-photo {
  max-width: 40%;
}

time {
  min-width: 10em;
}

blockquote {
  width: 40vw;
}